

#nav, #nav ul{
margin:0;
padding:0;
font-family:tahoma, Arial, Helvetica, sans-serif;
list-style-type:none;
list-style-position:outside;
position:relative;
z-index:99999;
font-size:12px;
font-weight:bold;
}

#nav a{
display:block;
padding:0px 15px;
/*border:1px solid #333;*/
border-right: 1px solid #71C8E6;
color:#003366;
text-shadow: 0 1px 0 #B0D2FF;
text-decoration:none;
/*background-color:#333;*/
}

#nav a:hover{
background-color: #71C8E6;
color:#fff;
text-shadow: 0 -1px 0 #6692CE;
}

#nav li{
float:left;
position:relative;
z-index:99999;
line-height:34px;
}

#nav ul {
position:absolute;
display:none;
width:12em;
top:2.8em;
z-index:99999;
}

#nav li ul a{
width:180px;
height:auto;
float:left;
padding:6px 5px;
line-height:1.8em;
background-color:#4EB1DB;/*added*/
font:bold 11px Arial, Helvetica, sans-serif;
border:none;
}

#nav ul ul{
top:auto;
}	

#nav li ul ul {
left:184px;
margin:0px 0 0 3px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}